<% include partials/header %>
    <div class="ui main text container">
   	    <div class="ui huge header"><%=blog.title%></div>
        <div class="ui top attached segment">
	        <div class="item">
	           <img class="ui centered rounded image" src="<%= blog.image %>">
	            <div class="content">
	                <div class="meta">
    	                <span><%= blog.created.toDateString() %></span>
	                </div>
            	     <div class="description">
            	        <p><%- blog.body %></p>
            	     </div>
	            </div>
            </div>
            <a href="/blogs/<%=blog._id%>/edit" class="ui orange basic button">Update Blog</a>
            <form style="display: inline" method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
                <button class="ui red basic button" type="submit">Delete Blog</button>
            </form>
        </div>
        
    </div>
    


<% include partials/footer %>

 



